<!DOCTYPE html>
<html ng-app="app" ng-controller="hostsController">
<head>
	<title>Express</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script type="text/javascript" src="js/angular.1.4.9.min.js"></script>
</head>
<body>
	<div class="container">
		<div ng-show="isEditingHost">
			<form class="form-max-width" ng-submit="createHost()">
				<h2>{{editTitle}}</h2>
				<div class="form-group">
					<label for="inputName">Nome:</label>
					<input type="text" id="inputName" class="form-control" placeholder="Nome" required autofocus ng-model="host.name">
				</div>
				<div class="form-group">
					<label for="inputHostname">Endereço/IP:</label>
					<input type="text" id="inputHostname" class="form-control" placeholder="Endereço/IP" required autofocus ng-model="host.hostname">
				</div>
				<div class="form-group" ng-show="host.command == 'C'">
					<label for="inputPorta">Porta:</label>
					<input type="text" id="inputPorta" class="form-control" placeholder="Porta" required ng-model="host.port">
				</div>
				<div class="form-group">
					<label for="selectCommand">Comando:</label>
					<select id="selectCommand" class="form-control" ng-model="host.command">
						<option ng-repeat="(key, value) in availableCommands" value="{{key}}">{{value}}</option>
					</select>
				</div>

				<div class="alert alert-danger" role="alert" ng-show="showAlert">
					{{alertMessage}}
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">{{submitButtonText}}</button>
				<button class="btn btn-lg btn-block" type="button" ng-click="cancel()">Cancelar</button>
			</form>
		</div>
		<div ng-show="loginService.isLogged() && !isEditingHost">
			<h1>Hosts</h1>
			<button class="btn btn-default margin-bottom-10" ng-click="addHost(item)"><i class="fa fa-plus-square"></i> Incluir</button>
			<table class="table table-hover table-responsive">
				<thead>
					<tr>
						<th>Alterar</th>
						<th>Nome</th>
						<th>Endereço/IP</th>
						<th>Porta</th>
						<th>Comando</th>
						<th>Ativo até</th>
					</tr>
				</thead>
				<tbody>
					<tr class="{{getHostClass(item)}}" ng-repeat="item in hosts">
						<td><button class="btn btn-xs btn-default opaque-background" ng-click="editHost(item)"><i class="fa fa-pencil"></i></button></td>
						<td>{{item.name}}</td>
						<td>{{item.hostname}}</td>
						<td>{{item.port}}</td>
						<td>{{availableCommands[item.command]}}</td>
						<td>{{moment(item.paidUntil).format('DD/MM/YYYY')}}</td>
					</tr>
				</tbody>
			</table>

			<ul class="nav nav-pills">
				<li role="presentation"><a href="index.html">Inicio</a></li>
				<li role="presentation"><a href="" ng-click="loginService.logout()">Logout</a></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="js/moment.min.js"></script>
	<script type="text/javascript" src="controllers/angularapp.js"></script>
	<script type="text/javascript" src="controllers/hosts.js"></script>
</body>
</html>